*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.main{
    display: flex;
    justify-content: center;
}

.card{
    margin-top: 40px;
    padding: 1.5%;
    background-color: whitesmoke;
    width: 30%;
    border: 2px solid black;
}

.card-head{
    display: flex;
    margin-bottom: 5%;
    justify-content: space-between;
    /* background-color: yellowgreen; */
    align-items: center;
}

.card-head h3{
    width: 50%;
}

.card-head button{
    background-color: yellow;
    padding: 1% 2%;
    box-shadow: 2%;
    border: 2px solid black;
}

.prueba{
    /* margin-top: 5%; */
    background-color: whitesmoke;
}